<div>
    <h1>{{title}}</h1>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Département</th>
            <th>Date embauche</th>
            <th>Job</th>
            <th>Salaire</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of employees">
            <td> {{employee.employee_id}}</td>
            <td> {{employee.name}}</td>
            <td> {{employee.department.dname}}</td>
            <td> {{employee.hiredate | date : 'shortDate'}}</td>
            <td> {{employee.job.jobname}}</td>
            <td> {{employee.salary}}</td>
            <td>
                <button class="btn btn-primary " (click)="detail(employee.employee_id)">Modifier</button>
            </td>
            <td>
                <button class="btn btn-primary " (click)="delete(employee.employee_id)">Supprimer</button>
            </td>

        </tr>
        </tbody>
    </table>
</div>
<app-error [error]="error"></app-error>